<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="common(title)">

    <title th:text="'Bulk SMS Admin - ' + ${title}">Bulk SMS Admin</title>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content=""/>
    <meta name="author" content="Mosaddek"/>
    <meta name="keyword"
          content="FlatLab, Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina"/>
    <link rel="shortcut icon"
          href="http://thevectorlab.net/flatlab/img/favicon.png"/>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/resources/css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/resources/css/bootstrap-reset.css}" rel="stylesheet"/>
    <!--external css-->
    <link th:href="@{/resources/assets/font-awesome/css/font-awesome.css}" rel="stylesheet" />
    <!--right slidebar-->
    <link th:href="@{/resources/css/slidebars.css}" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link th:href="@{/resources/css/style.css}" rel="stylesheet" />
    <link th:href="@{/resources/css/style-responsive.css}" rel="stylesheet" />

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 tooltipss and media queries -->
    <!--[if lt IE 9]>
    <script th:href="@{/resources/js/html5shiv.js}"></script>
    <script th:href="@{/resources/js/respond.min.js}"></script>
    <![endif]-->

    <link rel="stylesheet" type="text/css"
          th:href="@{/resources/assets/bootstrap-datepicker/css/datepicker.css}" />
    <link rel="stylesheet" type="text/css"
          th:href="@{/resources/assets/bootstrap-timepicker/compiled/timepicker.css}" />
    <link rel="stylesheet" type="text/css"
          th:href="@{/resources/assets/bootstrap-daterangepicker/daterangepicker-bs3.css}" />
    <link rel="stylesheet" type="text/css"
          th:href="@{/resources/assets/bootstrap-datetimepicker/css/datetimepicker.css}" />


</head>