<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="Mosaddek">
<meta name="keyword"
	content="FlatLab, Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
<link rel="shortcut icon"
	href="http://thevectorlab.net/flatlab/img/favicon.png">

<title>Forgot password</title>

<!-- Bootstrap core CSS -->
<link th:href="@{/resources/css/bootstrap.min.css}" rel="stylesheet">
<link th:href="@{/resources/css/bootstrap-reset.css}" rel="stylesheet">
<!--external css-->
<link th:href="@{/resources/assets/font-awesome/css/font-awesome.css}"
	rel="stylesheet" />
<!-- Custom styles for this template -->
<link th:href="@{/resources/css/style.css}" rel="stylesheet">
<link th:href="@{/resources/css/style-responsive.css}" rel="stylesheet" />

<!-- HTML5 shim and Respond.js IE8 support of HTML5 tooltipss and media queries -->
<!--[if lt IE 9]>
    <script th:href="@{/resources/js/html5shiv.js}"></script>
    <script th:href="@{/resources/js/respond.min.js}"></script>
    <![endif]-->
</head>

<body class="login-body">

	<div class="container">

		<form class="form-signin" action="#" method="post"
			th:action="@{/signin/password/forgot}">
			<h2 class="form-signin-heading">Change password by email</h2>

			<div class="login-wrap">

				<input type="email" class="form-control" placeholder="Enter email"
					required name="email">
				<div th:if="${success != null}">
					<p>
						<span th:if="${success}" class="success" th:text="${message}"></span>
					</p>


					<p>
						<span th:if="${!success}" class="error" th:text="${message}"></span>
					</p>

				</div>
				<br/>
				<button class="btn btn-lg btn-login btn-block" type="submit">Send</button>
				<p>
					<a href="/signin">Cancel</a>
				</p>

			</div>

		</form>

	</div>



	<!-- js placed at the end of the document so the pages load faster -->
	<script th:href="@{/resources/js/jquery.js}"></script>
	<script th:href="@{/resources/js/bootstrap.min.js}"></script>


</body>
</html>
