<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
	<div th:fragment="asideProfile">
		<aside class="profile-nav col-lg-3">
			<section class="panel">
				<div class="user-heading round">
					<a style="width:140px; height:140px;" href="profile.html#"> <img
						th:src="@{'/resources/img/'+ ${#authentication.principal.account.avatar}}"
						alt="">
					</a>
					<h1 th:text="${#authentication.principal.account.username}"></h1>
					<p th:text="${#authentication.principal.account.email}"></p>
				</div>

				<ul id="#nav-accordion" class="nav nav-pills nav-stacked">
					<li id="profile-menu" ><a href="/account/profile"> <i
							class="fa fa-user"></i> Profile
					</a></li>
					<li id="security-menu"><a href="/account/security"> <i class="fa fa-calendar"></i>
							Security
					</a></li>
					<li id="profile-edit-menu"><a href="/account/profile/edit"> <i class="fa fa-edit"></i>
							Edit profile
					</a></li>
				</ul>

			</section>
		</aside>
	</div>
</body>
</html>